@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  font-family: 'poppins';
}
.home-page{
  min-height: 100vh;
  width: 100%;
  background: #e0e1dd;
  position: relative;
  background-size: cover;
  background-position: center;
}
nav{
  width: 100%;
  background-color:   #e0e1dd;
  position: fixed;
  top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
nav ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 20px 0 0 0;
}
nav ul li{
  height: 40px;
}
.logo{
  margin-right: auto;
  padding-left: 35px;
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  display: flex;
  align-items: center;
}
li a{
  padding: 0 10px;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  color: #003049;
  font-weight: 500;
}
.primary-nav{
  display: flex;
  width: 100%;
  justify-content: center;
}
.bar{
  padding-right: 10px;
}
.sidebar{
  border: 1px solid #003049;
  border-radius: 10px;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  backdrop-filter: blur(10px);
  background-color: #367681;
  z-index: 999;
  width: 300px;
  height: 100vh;
  /* transition: .5s ease; */
  
}
.sidebar li{
  width: 100%;
  margin-top: 5px;
}
.sidebar a{
  width: 100%;
  color:  #003049;
  padding-left: 30px;
}
.sidebar a:hover{
  padding-left: 30px;
}
.hidden{
  display: none;
}
.quantity-container{
  position: relative;
}
.quantity{
  color: #f2f2f2;
  background-color: #e63946 ;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  left: 20px;
  top: -10px;
  display: flex;
  justify-content: center;
  align-self: center; 
  text-align: center;
  line-height: 20px;
}

.active-underline{
 color: #0f657a; 
 position: relative;
}
.active-underline::after{
  content: '';
  position: absolute;
  display: flex;
  justify-content: center;
  width: 70%;
  height: 20px;
  left: 5px;
  top: 0;
  border-bottom: 3px solid  #0f657a;
}
.sidebar-icon-2{
  font-size: 27px;
  padding-right: 20px;
}
.sidebar-icon-1{
  padding-right: 14px;
}


@media screen and (max-width: 800px){
  .hidden{
    display: flex;
  }
  nav a{
    padding: 0 8px;
  }
  .hideOnMobile{
    display:none;
  }
}
.main-content{
  /* width: 100%; */
  position: absolute;
  top: 35%;
  left: 10%;
}
.main-content p{
  color: #5c677d;
  font-size: 20px;
}
.main-content h1{
  color: #e5383b;
  font-size: 40px;
  letter-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}
.main-content h6{
  color: #7d8597;
  font-size: 18px;
  font-weight: 300;
  padding-top: 5px;
}
.main-content button{
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to   right, #f5ce62, #e43603, #fa7199,   #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);

}
.main-content button:hover{
  background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.image-container{
  width: 320px;
  position: absolute;
  bottom: -50%;
  left: 130%;
  transition: .5s ease;
}
.image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}


#feature{
  width: 90%;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  column-gap: 20px;
}
.feature-box{
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
.feature-box:hover{
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.35);
}
.feature-box img {
  width: 100%;
  /* height: 100%; */
  margin-bottom: 15px;
  object-fit: cover;
  display: block;
}
.feature-box h6{
  display: inline-block;
  font-family: sans-serif;
  font-size: 18px;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color:  #fb5607;
  background-color: #fddde4;
}
.feature-box:nth-child(2) h6{
  background-color: #cdb4db;
}
.feature-box:nth-child(3) h6{
  background-color: #ccd5ae;
}
.feature-box:nth-child(4) h6{
  background-color: #2f3e46;
}
.feature-box:nth-child(5) h6{
  background-color: #d4a373;
}
.feature-box:nth-child(6) h6{
  background-color: #d5bdaf;
}




#product1{
  width: 90%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}
#product1 .product-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #757d6c;
  /* padding: 5px 0; */
  text-align: center;
}
#product1 .product-link h1{
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 600;
  padding-left: 2%;
  color: #fbfbfc;
  letter-spacing: 3px;
}
#product1 .product-link h5 a{
  text-align: right;
  font-size: 15px;
  font-family: sans-serif;
  color: #003049;
  text-decoration: none;
  padding-right: 20px;
}
#product1 h2{
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 500;
  padding-left: 5%;
  color: #003049;
  letter-spacing: 5px;
  margin-top: 10%;
}
#product1 p{
  font-size: 20px;
  padding-top: 20px;
  color: #6c757d;
  letter-spacing: 4px;
}
.product-container{
  justify-content: center;
  /* margin-top: 10px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  column-gap: 20px;
}
.product{
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: .5s ease;
  position: relative;
}
#product1 .product:hover{
  box-shadow: 20px  20px 30px rgba(0, 0, 0, 0.06);
}
.product img{
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  display: block;
  transition: .5s ease-in-out;
}
.product img:hover{
  transform: scale(1.05);
}
#product1 .product .des{
  text-align: start; 
  padding: 10px 0;
  min-height: 60px;
  
}
#product1 .product .des span{
  color: #606063;
  font: 12px;
  
}
#product1 .product .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 13px;
  /* font-weight: 500; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
#product1 .product .des i{
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#product1 .product .des h4{
  font-size: 15px;
  padding-top: 7px;
  font-weight: 700;
  color: #088178;
}
#product1 .product .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 700;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
  text-align: center;
}

.cart-container{
  position: fixed;
  left: 100%;
  top: 0;
  background-color: #606063;
  height: 100vh;
  width: 100%;
  max-width: 370px;
  transition: .5s;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.scrollable {
  flex: 1; 
  overflow-y: auto; 
  overflow-x: hidden; 
  scrollbar-width: none;
}
.cart-container h3{
  font-weight: 100;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
.cart-container .checkout{
  position: sticky;
  bottom: 0;
  left: 10px;
  display: grid;
  grid-template-columns:  repeat( 2, 1fr);
}
.cart-container .checkout div{
  background-color: beige;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
}
.cart-container .checkout .total{
  font-size: 13px;
}
.cart-container .checkout .close{
  background-color: black;
  color: white;
}
.active .cart-container{
  left: calc(100% - 370px);
}
.productList{
  padding: 15px;
  height: auto;
  margin-bottom: 30px;
  list-style: none;
}
.productList li{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 50px 200px 40px 70px 10px;
  color: #fff;
  row-gap: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid;
}
.productList li img{
  width: 50px;
  background-color: #fff;
}
.productList li div{
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.productList li button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
  color: #0f657a;
  background-color: #f2f2f2;
  font-size: 15px;
  /* gap: 2px; */
}








/* call to action */
#banner{
  min-height: 30vh;
  width: 100%;
  margin: auto;
  padding: 10px 0;
  margin-top: 10px;
  margin-bottom: 0px;
  background-image: url(https://png.pngtree.com/background/20211215/original/pngtree-e-commerce-new-year-festival-double-eleven-beautiful-and-simple-background-picture-image_1464785.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}
.banner-content h2{
  color: white;
  padding-bottom: 20px;
}
 .banner-content h1{
  color: #fff;
  font-size: 30px;
  /* letter-spacing: 3.5px; */
}
.banner-content h1 span{
  color: rgb(255, 30, 0);
}
.banner-content button{
  height: 35px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: 1s ease;
}
.banner-content button:hover{
  background-color: #24a824;
}

/* -----==== sm banner box ===----- */
.sm-banner{
  width: 90%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  gap: 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto ;
  /* flex-wrap: wrap; */
}
.image3{
  grid-column-start: 1;
  grid-column-end: 3;
}
.sm-banner img{
 width: 100%;
 box-sizing: border-box;
}

.sm-banner-2{
  width: 90%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
}
/* .image{
  width: 100%;
} */
.sm-banner-2 img{
 width: 100%;
 min-width: 100px;
 box-sizing: border-box;
}
/* ==== Newslater==== */
.newslater{
  background-image: url("https://www.shutterstock.com/shutterstock/photos/778623541/display_1500/stock-vector-dark-blue-vector-polygonal-illustration-which-consist-of-triangles-triangular-design-for-your-778623541.jpg");
  background-repeat: no-repeat;
  background-position: 10% 30%;
  background-color: #041e42;
  padding: 5% 5% ;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 4% 0;
  row-gap: 20px;
}
.newslater h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
.newslater p{
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
.newslater p span{
  color: #ffbd27;
}
.newslater .form{
  display: flex;
  width: 40%;
}
.newslater input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.newslater button{
  height: 3.25rem;
  padding: 0 1.25em;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
}
footer{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1.5fr 0.7fr 0.7fr 1fr;
  /* flex-wrap: wrap; */
  column-gap: 20px;
  color: rgba(39, 38, 38, 0.678);
}
.col{
  display: flex;
  flex-direction: column;
}
.col a{
  text-decoration: none;
  color: black;
  color: rgba(39, 38, 38, 0.678);
}
.install img{
  width: 50px;
  height: 30px;
}

/* ====Women Fashion===== */
.thumbnails{
  width: 90%;
  margin: auto;
  margin-top: 10%;
  /* background: #c8e6ee; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.product-banner{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  padding: 10px 20px;
  /* overflow: hidden; */
 
}
.thumbnails .image{
  color: #6c757d;
}
.thumbnails img{
  width: 100%;
}

























/* =====Responsive==== */
@media screen and (max-width: 800px){
  .main-content{
    left: 7%;
  }
  .main-content h1{
    font-size: 30px;
  }
  .main-content h6{
    font-size: 18px;
  }
  .image-container{
    display: none;
  }
  .section-p1{
    padding: 12px 15px;
  }
  #feature{
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    column-gap: 10px;
  }
  
  .feature-box h6{
    font-size: 10px;
  }
  #product1{
    width: 95%;
  }
  #product1 h1{
    letter-spacing: 0;
    font-size: 20px;
  }
  #product1 .product{
    border-radius: 15px;
  }
  #product1 .product-container{
    grid-template-columns:  repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    
  }
  .sm-banner{
    grid-template-columns: auto;
  }
  .sm-sm-banner{
    grid-template-columns: auto;
  }
  .thumbnails{
    padding-top: 10%;
  }
  .product-banner{
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 20px;
   
  }
  footer{
    flex-wrap: wrap;
  }
}

